<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Daily Report 2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/bower_components/morrisjs/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/ngTagsInput/ng-tags-input.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/bower_components/ngTagsInput/ng-tags-input.min.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/bower_components/metisMenu/dist/metisMenu.min.js")"></script>
    <script src="@Url.Content("~/bower_components/ngTagsInput/ng-tags-input.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap-tpls.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-messages.min.js")"></script>

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Action("B2BMockupIndex", "Navbar")

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    @RenderSection("Modal", required: false)

    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/raphael/raphael-min.js")"></script>

    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
                "aaSorting": [],
                "oLanguage": {
                    "sProcessing": "處理中...",
                    "sLengthMenu": "每頁顯示 _MENU_ 筆",
                    "sZeroRecords": "沒有要找的資料",
                    "sInfo": "顯示第 _START_ 至 _END_ 筆，共 _TOTAL_ 筆",
                    "sInfoEmpty": "顯示第 0 至 0 筆，共 0 筆",
                    "sInfoFiltered": "(從 _MAX_ 筆結果過濾)",
                    "sSearch": "搜尋:",
                    "oPaginate": {
                        "sFirst": "首頁",
                        "sPrevious": "前頁",
                        "sNext": "後頁",
                        "sLast": "尾頁"
                    }
                }
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
